.element__like {
    background-color: #ffffff;
    border: none;
    width: 22px;
    height: 19px;
    margin-top: 10px;
    padding-right: 16px;
    background-size: cover;
    background-image: url("../../../images/add_like.svg");
}
.element__like:focus {
    outline: none;
}

.element__like:active {
    opacity: 1;
    background-size: cover;
    background-image: url("../../../images/active_like.svg");
}