.header {
    max-width: 880px;
    margin: 0 auto;
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #545454;
}



@media screen and (max-width:598px) {
    .header {
      max-width: 320px;
      padding: 28px 0 0;
    }
  }