.popup__test {
    width: 430px;
    min-height: 330px;
    background-color: #ffffff;
    position: fixed;
    top: calc(50% - 165px);
    left: calc(50% - 215px);
    padding: 34px 36px 37px;
    box-sizing: border-box;
    border-radius: 10px;
  }