.popup__submit {
    border: none;
    width: 358px;
    min-height: 50px;
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    outline: none;
    transition: opacity .5s ease;
}


@media screen and (max-width: 598px) {
    .popup__submit {
        width:238px;
        
    }
}