.popup__close-button {
    position: absolute;
    top: -38px;
    right: -42px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-image: url("../../../images/icon_close.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
  }

.popup__close-button:focus {
    outline: none;
}


@media screen and (max-width: 598px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -40px;
    right: 0px;
  }
}