.profile__button_type_edit {
  width: 24px;
  height: 24px;
  margin: auto 0 auto 18px;
  background-image: url(../../../../images/edit_img.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width:598px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    margin: auto 0 0 10px;
    background-image: url(../../../../images/edit_img_small.svg);
  }
}